/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    /* Style Guide Details */
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --grayishblue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);

    --font_size: 15px;
    --par_weight: 400;
    --head_weight: 700;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", "Helvetica", Arial, sans-serif;
    font-size: var(--font_size);
    font-weight: var(--par_weight);
    background-color: var(--lightgray);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin-top: 1.15em;
    text-align: center;
    background-color: var(--white);
    color: var(--grayishblue);
    width: 315px;
    padding: 1em;
    border-radius: 1.5em;
}

img.qr {
    width: 100%;
    border-radius: 0.8em;
}

section.call-to-action {
    margin: auto;
    width: 90%;
    margin-bottom: 1.9em;
}

h1 {
    color: var(--darkblue);
    font-size: 1.43em;
    font-weight: var(--head_weight);
    padding-top: 0.9em;
    margin-bottom: 0.8em;
}

footer.attribution {
    font-size: 0.7em;
    text-align: center;
    margin-top: 1em;
}

a.attribution {
    color: var(--darkblue);
}
